PORT=3000
DB_PORT=3306
DB_HOST=localhost
DB_USER=mustsee02_baba_menu
DB_NAME=mustsee02_baba_menu
DB_PASSWORD=4Kb48100%!
JWT_SECRET=V50tDcSm0KxeeOvVOcJaeaUKLU6CHOnkxBKoPZKdfQJ
UPLOAD_DIR=./uploads
# ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173